{
  "development": {
    "username": "PUT THE USER HERE",
    "password": "PUT THE PWD HERE",
    "database": "DB NAME",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "PUT THE USER HERE",
    "password": "PUT THE PWD HERE",
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "PUT THE USER HERE",
    "password": "PUT THE PWD HERE",
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
